body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	border: 0;
	margin: 0;
	overflow: hidden;
}

article, header, footer {
	display: block;
}

header {
	background: red;
	height: 16px;
}

footer {
	background: blue;
	font-size: x-small;
	text-align: center;
	height: 12px;
}

.textlet {
	position: absolute;
	background: black;
	color: white;
	display: inline;
	padding: 5px;
}

#vmenu {
	border: 1px solid #aaa;
	position: absolute;
	background: #fff;
	display: none;
	font-size: 0.75em;
}

#vmenu .firstLi {
	width: 100px;
	display: block;
	padding: 5px 10px;
	cursor: pointer;
}

