body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	border: 0;
	margin: 0;
}

article, header, footer {
	display: block;
}

header {
	background: red;
	height: 16px;
}

footer {
	background: blue;
	font-size: x-small;
	text-align: center;
	height: 10px;
}

#viewport {
	overflow: hidden;
}

