body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	border: 0;
	margin: 0;
}

article, header, footer {
	display: block;
}

header {
	background: #DDD;
	height: 16px;
	z-index: 1100;
	font-size: small;
}

footer {
	background: #DDD;
	font-size: x-small;
	text-align: center;
	height: 12px;
	z-index: 1100;
}

.textlet {
	position: absolute;
	border: 1px dashed #666;
	color: black;
	display: inline;
	padding: 5px;
}

#vmenu {
	border: 1px solid #aaa;
	position: absolute;
	background: #fff;
	display: none;
	font-size: 0.75em;
	-moz-box-shadow: 5px 5px 10px #ccc;
	-webkit-box-shadow: 5px 5px 10px #ccc;
	box-shadow: 5px 5px 10px #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 10;
}

#vmenu .firstLi {
	width: 100px;
	display: block;
	padding: 5px 10px;
	cursor: pointer;
}

#vmenu .firstLi:hover {
	background: #ddd;
}

.overlayLightbox {
	position: absolute;
	display: none;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.overlayContent {
	position: fixed;
	border: 15px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	width: 400px;
	height: 200px;
	background: white;
}

