body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	border: 0;
	margin: 0;
	overflow: hidden;
}

article, header, footer {
	display: block;
}

header {
	background: red;
	height: 16px;
}

footer {
	background: blue;
	font-size: x-small;
	text-align: center;
	height: 12px;
}

.textlet {
	position: absolute;
	background: black;
	color: white;
	display: inline-block;
	padding: 5px;
}

